<div class="main-title">
    <h2>Mis <span>proyectos</span> <span class="bg-text">Proyectos </span></h2>
</div>


<section>

    <p class="port-text">
        Here is some of my work that I've done in varius programming languages.
    </p>
    <div class="portfolios">
    <app-portfolio-item></app-portfolio-item>
    <app-portfolio-item></app-portfolio-item>
    <app-portfolio-item></app-portfolio-item>
    <app-portfolio-item></app-portfolio-item>
    <app-portfolio-item></app-portfolio-item>    
    <app-portfolio-item></app-portfolio-item>

    
    </div>


</section>