section {
    padding: 120px 16%;
}
a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.home{
    height: 100vh;
    width:100%;
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../../../assets/foto1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
 
    align-items: center;

}

span{
    color: var(--main-color);

}


.home-text {
    padding-top: 120px;
}

.home-text h1{
    font-size: var(--big-font);
    color:var(--text-color);
    line-height: 1.11;
    font-weight: 800;
    letter-spacing: 1px;
    margin: 0 0 25px;
}

.home-text h4 {

    color: var(--text-color);
    font-size: 1.5rem;
    line-height: 1.21;
    font-weight: 700;
    margin-bottom:40px;
}

.boton {
    display: inline-block;
    font-size: 14px;
    font-weight:600;
    padding:16px 33px;
    background: var(--main-color);
    color: var(--text-color);
    border-radius: 30px;
    border: 2px solid transparent;
    text-transform: uppercase;
    transition: ease .30s;

}

.boton:hover{
    transform: translateY(-10px);
    background: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
}
/* social media*/

.social {
    position:fixed;
    height:75vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    transform: translate(-500px,0);
}

.social a{
    color: #fff;
    background:rgba(47,79,79,0.4);
    font-size:20px;
    font-weight:500;
    text-decoration:none;
    display:block;
    margin: 5px;
    padding: 20px;
    width: 300px;
    text-align: right;
    border-radius: 50px;
    transition: 1s;
    transition-property:transform;

}

.social a:hover{
    transform: translate(140px,0);
}
.social i  {
    margin-left:10px;
    font-size: 30px;
    width: 30px;
    height:30px;
}


.social a:nth-child(1){
    color:#0076b0;

}

.social a:nth-child(3){
    color:#cf0a91;

}


.social a:nth-child(4){
    color:var(--main-color);

}



/* edicion*/
.titulo-seccion-edit{
    display:flex;
    
    
    
}


.contenedor-boton , .contenedor-boton-borrar{
    margin-top: 0.5rem;
    margin-left: 1.5rem;
}


.modal-header {
    background-color:#2a2e35;
    border-bottom:1px solid #2a2e35;
}

.modal-body{
    background-color:#2a2e35;
   


}

.modal-footer {
    background-color:#2a2e35;
    border-top:1px solid #2a2e35;

}

.foto-upload{
    margin-top:1rem;
}

.texto {
    margin-top:1rem;
}

.mb-3{
    margin-top:1rem;
}