
    <div class="main-title">
        <h2>Experiencia <span>laboral</span> <span class="bg-text">trabajos </span></h2>
    </div>

    <section class="experience" id="resume">
     
        <div class="resume-content">

            <app-experiencebox></app-experiencebox>
            <app-experiencebox></app-experiencebox>
            <app-experiencebox></app-experiencebox>
            <app-experiencebox></app-experiencebox>
            <app-experiencebox></app-experiencebox>
            <app-experiencebox></app-experiencebox>
            
            <!-- <div class="box">
                <h6>March 2013 - Present</h6>
                <h4>Web Development</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium consequuntur est, 
                    officia laborum quaerat sed ea perferendis ratione eum temporibus porro tempore error aspernatur! 
                    Omnis sint doloribus consequuntur totam mollitia.</p>
                    <h5>Nombre Empresa</h5>

            </div>
            <div class="box">
                <h6>March 2013 - Present</h6>
                <h4>Web Development</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium consequuntur est, 
                    officia laborum quaerat sed ea perferendis ratione eum temporibus porro tempore error aspernatur! 
                    Omnis sint doloribus consequuntur totam mollitia.</p>
                    <h5>Nombre Empresa</h5>

            </div>

            <div class="box">
                <h6>March 2013 - Present</h6>
                <h4>Web Development</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium consequuntur est, 
                    officia laborum quaerat sed ea perferendis ratione eum temporibus porro tempore error aspernatur! 
                    Omnis sint doloribus consequuntur totam mollitia.</p>
                    <h5>Nombre Empresa</h5>

            </div>

            <div class="box">
                <h6>March 2013 - Present</h6>
                <h4>Web Development</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium consequuntur est, 
                    officia laborum quaerat sed ea perferendis ratione eum temporibus porro tempore error aspernatur! 
                    Omnis sint doloribus consequuntur totam mollitia.</p>
                    <h5>Nombre Empresa</h5>

            </div>

            
            <div class="box">
                <h6>March 2013 - Present</h6>
                <h4>Web Development</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium consequuntur est, 
                    officia laborum quaerat sed ea perferendis ratione eum temporibus porro tempore error aspernatur! 
                    Omnis sint doloribus consequuntur totam mollitia.</p>
                    <h5>Nombre Empresa</h5>

            </div>

            
            <div class="box">
                <h6>March 2013 - Present</h6>
                <h4>Web Development</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium consequuntur est, 
                    officia laborum quaerat sed ea perferendis ratione eum temporibus porro tempore error aspernatur! 
                    Omnis sint doloribus consequuntur totam mollitia.</p>
                    <h5>Nombre Empresa</h5>

            </div>
 -->





        </div>



    </section>
