


.timeline-item{
    position: relative;
    padding-left: 3rem;
    border-left: 1px solid var(--other-color);
}

.tl-icon {
    position:absolute;
    left: -27px;
    top:0;
    background-color: var(--main-color);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.tl-duration{
    padding: .2rem .6rem;
    background-color: var(--other-color);
    border-radius: 15px;
    display: inline-block;
    font-size: .8rem;
    text-transform:uppercase;
    font-weight:500;
}
i {
    font-size: 1.3rem;
}

h5 {
    padding: 1rem 0;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight:600;
}

#span2{
    color: var(--other-color);
    font-weight: 500;
    font-size: 1.2rem;

}

/* modal */

.titulo-seccion-edit{
    display:flex;
    
    
    
}


.contenedor-boton , .contenedor-boton-borrar{
    margin-top: 0.5rem;
    margin-left: 1.5rem;
}


.modal-header {
    background-color:#2a2e35;
    border-bottom:1px solid #2a2e35;
}

.modal-body{
    background-color:#2a2e35;
   


}

.modal-footer {
    background-color:#2a2e35;
    border-top:1px solid #2a2e35;

}

.foto-upload{
    margin-top:1rem;
}

.texto {
    margin-top:1rem;
}