
    <div class="timeline-item"> 
        <div class="tl-icon">
            <i class='bx bxs-briefcase-alt-2'></i>
        </div> 
        <p class="tl-duration">2010-present</p>
            <h5>Web developer<span id="span2">-Microsoft </span></h5>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora incidunt molestiae, debitis sequi quam minima? Repudiandae ea cum numquam tempore. Facere nihil neque, modi dolores at velit quae ipsum nam.
            Iusto eius aut corporis error esse architecto enim, natus facere quia repellat pariatur. Atque perferendis consequuntur natus doloribus, nisi autem dolorem tempore ex ipsum pariatur laboriosam voluptate officiis, earum alias.</p>               
    </div>

