<section >
    <div class="main-title">

        <h2>Acerca <span>de</span> <span class="bg-text"> sobre mi</span></h2>


    </div>
    <div class="about-container">
         <button type="button" class="btn btn-primary">Primary</button>
        <div class="left-about">
            <h4>Informacion sobre mi</h4>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cumque alias quos quia dolor aliquam ab harum dolore, itaque perferendis? Ipsum aliquam pariatur ea voluptas excepturi accusamus porro iure placeat necessitatibus.
            Quae beatae at corporis facilis minima ullam sit exercitationem. Fugiat sint officia sapiente? Saepe, aliquid. Cupiditate aperiam nobis nisi placeat sunt adipisci obcaecati qui, illum sed? Eveniet neque magni facere.
            Architecto eos iusto perferendis eius, assumenda libero sed similique repudiandae ipsa ducimus officiis, facere voluptatem excepturi vel placeat, rem quia ullam unde ipsam facilis laboriosam numquam blanditiis! Quisquam, mollitia odio?</p>
            <div class="btn-pos">
            <app-boton></app-boton>
            </div>
           
        </div>

      
        <div class="right-about"></div>
    </div>

   


</section>
