

    <div class="portfolio-item">
        <div class="image">
            <img src="../../../assets/portfotos/port1.jpg" alt="">
        </div>
        <div class="hover-item">
            <h3>Porject Source</h3>
            <div class="icons">
                <a href="www.google.com" class="icon" target="_blank">
                    <i class='bx bxl-github'></i>
                </a>
                <a href="www.google.com" class="icon" target="_blank">
                    <i class='bx bxl-youtube' ></i>
                </a>
                <a href="www.google.com" class="icon" target="_blank">
                    <i class='bx bxl-github'></i>
                </a>



            </div>

        </div>

    </div>


