.bg-text{
    position:absolute;
    top: 50%;
    left: 50%;
    color:#2a2e35;
    transition: all .4s ease-in-out;
    z-index:-1;
    transform: translate(-50%, -50%);
    font-weight:800;
    font-size:6.3rem;
}

.main-title{
    margin-top: 1.5rem;
    text-align:center;
}
section {
    margin-top: 1.5rem;
}

h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
}
span {
    color: var(--main-color);
}


.about {
    background: var(--bg-color);
    display: grid;
    grid-template-columns: repeat(2,2fr);
    align-items:center;
    grid-gap:2rem;
    padding-top:3.5rem;
    padding-bottom:5rem;
    min-height: 100vh;
    width: 100%;
    padding: 3rem 15rem;
}

.about-img img{
    max-width: 100%;
    width: 350
    px;
    height: auto;
}

.about-text h2 {
    font-size: var(--h2-font);
    color: var(--main-color);
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1.2rem;
}
.about-text h5{
    color: var(--text-color);
    font-size: 1.3rem;
    margin-bottom:20px;
    letter-spacing: 2px;
}

.about-text p{
    font-size: var(--p-font);
    font-weight: 400;
    max-width: 570px;
    line-height: 1.8;
    margin-bottom: 2.5rem;
  

}