
    <div class="main-title">
        <h2>Acerca <span>de</span> <span class="bg-text"> sobre mi</span></h2>
    </div>

<section class="about" id="about">

    <div class="about-img">
        <img src="../../../assets/about.jpg" alt="">
    </div>

    <div class="about-text">
        <h2>Sobre mi</h2>
        <h5>Developer <span> & Designer</span></h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit iusto quasi magni ducimus consectetur, pariatur enim facilis dicta dignissimos molestias quos aliquam, assumenda itaque error culpa similique a repellendus reprehenderit!
        Fugiat, assumenda repudiandae explicabo molestiae maxime iure sint est. Culpa, alias. Pariatur suscipit voluptatibus dolore sequi architecto repudiandae labore officiis modi vel sit quibusdam dolores a fuga, aspernatur, libero aliquid?
        Beatae sed nam aliquam, tempore incidunt voluptatum, non sapiente, veniam corporis nobis eveniet. Praesentium id quisquam ex expedita saepe ea adipisci cupiditate itaque ut mollitia, fugiat perspiciatis impedit. Aspernatur, tempore?</p>

        <app-boton></app-boton>
    </div>

   


</section>

